html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    touch-action: none;
    user-select: none;
    -webkit-user-select: none;

    background: #756b6b;
}

#game {
    flex-shrink: 0;

    background: #232323;
}

.pieces {
    position: absolute;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    border-radius: 50%;
    font-size: 100px;
    color: #e4e5e5;
    font-family: sans-serif;
    border: 2px solid #4886ad;
    background: #4886ad;
    background: radial-gradient(
        circle,
        #4886ad00 0%,
        #4886ad8c 100%
    );
}
